.field {
    width: 642px;
    height: 642px;
    background-color: white;
    border: 1px solid black;

    display: flex;
    flex-wrap: wrap;
}

.field-hover:hover {
    cursor: pointer;
}

.cell {
    width: 80px;
    height: 80px;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.white-cell {
    background-color: white;
}

.black-cell {
    background-color: black;
}